# Visit https://github.com/lowlighter/metrics#-documentation for full reference

name: Metrics
on:
  # Schedule updates (each day)
  schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: General_metrics
        uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          #  - repo
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          filename: profile/github-metrics.svg

          # Options
          user: lasercata
          template: classic
          # base: header, activity, community, repositories, metadata
          base: header, activity, repositories, metadata
          config_timezone: Europe/Paris

          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

          # plugin_lines: yes
          # plugin_lines_history_limit: 1
          # plugin_lines_repositories_limit: 4
          # plugin_lines_sections: base

          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_types: commit

          plugin_traffic: yes

      - name: Isocalendar
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          filename: profile/github-isocalendar.svg

          # Options
          user: lasercata
          template: classic
          base: ""
          config_timezone: Europe/Paris

          plugin_isocalendar: yes
          # plugin_isocalendar_duration: half-year
          plugin_isocalendar_duration: full-year

      # From here: anuraghazra/github-readme-stats.git
      - uses: actions/checkout@v6

      - name: Generate stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=${{ github.repository_owner }}&theme=radical&hide_border=false&include_all_commits=true&count_private=true&show=reviews,prs_merged,prs_merged_percentage&show_icons=true
          path: profile/stats.svg
          token: ${{ secrets.METRICS_TOKEN }}

      - name: Generate top languages card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=${{ github.repository_owner }}&theme=radical&hide_border=false&include_all_commits=true&count_private=false&layout=compact&size_weight=0.5&count_weight=0.5&langs_count=10
          path: profile/top-langs.svg
          token: ${{ secrets.METRICS_TOKEN }}

      - name: Commit cards
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add profile/*.svg
          git pull
          git commit -m "Update README cards" || exit 0
          git push
